<h2>My Heroes</h2>
<ul class="heroes">
  <!--(referring to *ngFor) <li> is the host element-->
  <!--(referring to *ngFor) heroes holds the mock heroes list from the HeroesComponent class-->
  <!--(referring to *ngFor) hero holds the current hero object for each iteration through the list-->
  <!--(referring to [class.selected]) Angular class binding makes it easy to ass and remove a CSS class conditionally-->
  <li *ngFor="let hero of heroes"
      [class.selected]="hero === selectedHero"
      (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>

<div *ngIf="selectedHero">
  <h2>{{selectedHero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedHero.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedHero.name"
             placeholder="name" />
    </label>
  </div>
</div>
