<h2>My Heroes</h2>
<div><label>Hero name:
    <input #heroName>
  </label>
  <!--(click) passes input value to add() and then clears the input-->
  <button (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</div>

<ul class="heroes">
  <!--(referring to *ngFor) <li> is the host element-->
  <!--(referring to *ngFor) heroes holds the mock heroes list from the HeroesComponent class-->
  <!--(referring to *ngFor) hero holds the current hero object for each iteration through the list-->
  <!--(referring to [class.selected]) Angular class binding makes it easy to ass and remove a CSS class conditionally-->
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button class="delete"
            title="delete hero"
            (click)="delete(hero)">x</button>
  </li>
</ul>

<!--[hero]="selectedHero" is a one way data binding from the selectedHero property of the HeroesComponent to the hero property of the target element,
which maps to the hero property of the HeroDetailComponent-->
